* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
  background-color: #222;
  color: #dddddd;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  margin: 0px 10vw;
}

.app__header {
  display: flex;
  width: 960px;
  margin: 0px auto;
}
.app__header > a {
  color: wheat;
  text-decoration: none;
  padding: 10px 5px 0px 0px;
}

h1 {
  color: #ffff51;
  font-size: 4em;
  letter-spacing: 2px;
}

button {
  margin: 0px 10px;
  border: 3px solid #ccc;
  background: transparent;
  border-radius: 30px;
  padding: 16px 44px;
  color: #ccc;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #fff;
  box-shadow: -1px 2px 5px 6px rgba(230, 218, 230, 1);
}

.content {
  text-align: left;
}

.card {
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
  cursor: pointer;
}

.card p {
  margin: 6px 0;
  color: #999;
}

.card h3 {
  margin: 10px 0;
  color: #ffff57;
}

.warStars__status {
  margin-top: 15px;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

button:disabled:hover {
  color: #ccc;
  box-shadow: none;
}

.posts__container {
  display: flex;
  /* height: 96vh; */
  margin-left: 5px;
}

.posts__container__sidebar {
  width: 175px;
  border-right: 1px solid black;
  padding: 1rem;
  border: 1px solid wheat;
  border-radius: 5px;
}

.posts__container__sidebar > a {
  color: white;
  text-decoration: none;
}

.posts__container__sidebar > a:hover {
  color: wheat;
}

.posts__container__postStatus {
  margin-top: 10px;
}
.posts__container__postStatus--loading .posts__container__postStatus--success {
  margin-top: 10px;
}

.posts__container__postStatus--error {
  margin-top: 10px;
  color: red;
}

.posts__container__searchInput .title {
  margin-bottom: 10px;
}

.posts__container__searchInput > input {
  width: 140px;
  padding: 5px;
  border-radius: 25px;
  outline: none;
}
hr {
  margin: 10px 0;
}

.planets__Form {
  display: flex;
  flex: 1;
  height: 35vh;
  border-radius: 20px;
  margin-top: 15vh;
  margin-left: 1rem;
}

.planets__Form > form {
  background: rgb(155, 103, 7);
  padding: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 3px 0px;
  border-radius: 50px;
  outline: none;
}

.planets__Form > form > button {
  padding: 5px;
  margin-top: 20px;
}
